/* Product.css */
.product-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Set height to fill the viewport */
}

.product {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 1rem;
  max-width: 300px;
  transition: transform 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.product-details {
  padding: 1rem;
}

.product-name {
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
}

.product-price {
  font-size: larger;
  color: darkred;
  font-weight: bold;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.product-rating i {
  color: #f0ad4e;
  margin-right: 0.25rem;
}

.product-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin-top: 20px;

  cursor: pointer;
  transition: background-color 0.3s;
}

.button.primary {
  background-color:darkred;
  color: #fff;
}

.button.primary:hover {
  background-color: #0056b3;
}
